@media only screen and (min-width: 650px)  {
    
    /* header div img{max-width: 80%;} */

    div.search-area input[type="search"]{ max-width:650px;}

    div.search-area{ gap: 2.5rem;}

    .btn-grid{ gap: 2.5rem; }

    main{padding:3rem; gap:2.5rem;}

    #random-recipes{gap: 2.5rem;}

    header div img{    
        width: 70%;
        min-width: 150px;
    }

    .recipes{padding: 3rem; }
    
    .bookmark{  right: 2rem; max-width: 3.5rem;}

    .recipes img:nth-child(3){
        width: 60%;
        min-width: 150px;
        max-width: 400px;
        padding:1rem;
    }    

    .recipes ul { 
        display: block; 
        width:100%; 
        text-align:justify; 
        margin: auto;
    }

    .recipes li { 
        display:inline-block; 
        text-align: center; 
        width: 50%;
    }

}