@media only screen and (min-width: 650px)  {
    
    /* header div img{max-width: 80%;} */

    div.search-area input { max-width:650px;}

    div.search-area{ gap: 2.5rem;}

    .btn-grid{ gap: 2.5rem; }

    main{padding:3rem; gap:2.5rem;}

    #random-recipes, #saved-recipes{gap: 2.5rem;}

    header div img{    
        width: 70%;
        min-width: 150px;
    }

    .sbtn,p.saved-recipes a, .returnHome a {padding: 1.2rem;}

    #ingredient-recipe h2,h3{ margin:3rem;}

    .recipes{padding: 3rem; }

    .recipes img:nth-child(2){
        width: 60%;
        min-width: 150px;
        max-width: 400px;
        padding:1rem;
    }    

    .recipes ul { 
        display: block; 
        width:100%; 
        text-align:justify; 
        margin: auto;
    }

    .recipes li { 
        display:inline-block; 
        text-align: center; 
        width: 50%;
    }

    .clear{ margin:auto; max-width:15rem; font-size: larger; font-weight: 700; padding: 1.5rem;}

    .deleteBtn{
        position: absolute; 
        right:20px; 
        top:10px; 
        font-size:50px;
        cursor: pointer ;
    }

}