body {
    height: 100%;
    background: linear-gradient(90deg, #eb072dec 50%, rgb(255, 255, 255) 50%);
    color:black;
    font-family: 'Press Start 2P', cursive;
}

#search {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    padding: 30px;
    width: 40%;
    height: 40%;
    font-family: 'Press Start 2P', cursive;
}

#buttons{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#img-section{
    text-align: center;
    text-transform: capitalize;
}
